<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>ReactJS + Spring Data REST</title>

        <!-- Required js -->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">

    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Watchlist!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
        </div>
    </nav>
    <!-- <div id="react"></div> -->
    <!--<script src="built/bundle.js"></script>-->

    <!-- input tag -->


    <!-- Rest Data -->
    <div class="container">
        <input class="textPanel" onkeyup="getUserAsync(this)" type="text" name="search" placeholder="Enter quote symbol ...">

<!--        <table class ="table table-dark table-hover" id ="table" data-toggle="table"-->
<!--               data-url="https://raw.githubusercontent.com/wenzhixin/bootstrap-table-examples/master/json/data1.json">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th data-field="quote">Symbol</th>-->
<!--                <th data-field="bid">Bid</th>-->
<!--                <th data-field="ask">Ask</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--        </table>-->
    </div>

    <div class="container">
        <span id="result" class="textPanel"></span>
<!--        <input id="result" class="textPanel" type="text">-->
    </div>

    </body>

    <script>
    async function getUserAsync(e)
    {
        if(event.key === 'Enter') {
            console.log("User Input: " + e.value.toUpperCase());
            let response = await fetch('http://localhost:8080/price/' + e.value.toUpperCase());
            var data = await response.json()
            document.getElementById("result").textContent = JSON.stringify(data);
            // Clear input text
            e.value = '';
        }
    }
    </script>

</script>
</html>